@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #f4f4f4;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img,
svg {
  display: block;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}

#root {
  display: block;
}

#root::after {
  content: '';
  display: block;
  clear: both;
}

#app > * {
  padding: 5em 0;
  background-color: #fff;
}

#app > *:nth-child(even) {
  background-color: #f4f4f4;
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  #app > * {
    padding: 3em 0;
  }
}
